<!DOCTYPE html>

<html>

    <head>
        <title>IEEE CS UFRN - {% t page.title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ '/css/reset.css' | prepend: site.baseurl_root }}">
        <link rel="stylesheet" 
            href="{{ '/css/pure/pure-min.css' | prepend: site.baseurl_root }}">
        <!--[if lte IE 8]>
            <link rel="stylesheet" 
            href="{{ '/css/pure/grids-responsive-old-ie-min.css' | prepend: site.baseurl_root }}">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" 
            href="{{ '/css/pure/grids-responsive-min.css' | prepend: site.baseurl_root }}">
        <!--<![endif]-->
        <link rel="stylesheet" href="{{ '/css/style.css' | prepend: site.baseurl_root }}">

        <style>
            #main {
                background: none;
                text-align:center;
            }
            h1 {
                color: #333;
            }
            p {
                color: #666;
            }
            img {
                padding-top:10px;
                padding-bottom:10px;
            }
        </style>

    </head>

    <body>

        <div class="pure-g">
            <div class="pure-u-1">
                <main id="main">
                    <img style="width:30%; height:30%;" src="{{ '/images/logo.png' | prepend: site.baseurl_root }}"/>
                    <h1>Website under construction.</h1> 
                    <p>Please, check the IEEE CS UFRN <a target="_blank" href="https://www.facebook.com/csufrn/">Facebook page</a> for more information about us!</p>
                </main>
            </div>
        </div>

    </body>

</html>


