<!DOCTYPE html>

<html>

    <head>
        <title>IEEE CS UFRN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ '/css/reset.css' | prepend: site.baseurl_root }}">
        <link rel="stylesheet" 
            href="{{ '/css/pure/pure-min.css' | prepend: site.baseurl_root }}">
        <!--[if lte IE 8]>
            <link rel="stylesheet" 
            href="{{ '/css/pure/grids-responsive-old-ie-min.css' | prepend: site.baseurl_root }}">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" 
            href="{{ '/css/pure/grids-responsive-min.css' | prepend: site.baseurl_root }}">
        <!--<![endif]-->
        <link rel="stylesheet" href="{{ '/css/style.css' | prepend: site.baseurl_root }}">

    </head>

    <body>

        <div class="pure-g">
            <div class="pure-u-1">
                <header id="page-header">
                    <h1>Logo goes here.</h1>
                </header>
            </div>

            <div class="pure-u-3-4">
                <main id="main">
                    {{ content }}
                </main>
            </div>

            <div class="pure-u-1-4">
                <div id="sidebar">
                    Sidebar
                </div>
            </div>
        </div>

    </body>

</html>


